table{
    border-collapse: collapse;
    font-size: 12px;
}

table th, table td {
    border: 1px solid #000000;
    padding: 6px;
}


table tr.jyusyoroku_list {
    background-color: #6495ED;
}

.center {
    text-align: center;
}

.address {
	width: 100px;
	overflow: hidden
}

.listaddress {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;


  max-width: 300px;
}
.name {
	width: 150px;
}

.tel {
	width: 100px;
}

.btn {
	width: 70px;
}

.kensaku {
	top:50px;
	margin-left:500px;
	position: absolute;
}

.btn-kensaku {
	width: 170px;
	border-width: 0px;
	background-color: #ffffff;
}

.kensaku-txt {
	border-width: 0px;
}
