<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>住所録削除</title>
    <link href="/css/delete.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
  	<h3>下記の住所録を削除します。よろしいですか？</h3>

	<form th:action="@{/user/delete}" th:object="${userRequest}" method="post">

  		<div class="table" th:object="${userRequest}">
  		<input type="hidden" name="id" th:value="*{id}" />
		<table>
			<tr>
				<th class="cell_title">名前* :</th>
				<td><span th:text="*{name}"></span></td>
			</tr>
			<tr>
				<th class="cell_title">住所* :</th>
				<td><span th:text="*{address}"></span></td>
			</tr>
			<tr>
				<th class="cell_title">電話番号:</th>
				<td><span th:text="*{phone}"></span></td>
			</tr>
		</table>
		</div>
		<div class="btn-ok"><button type="submit" class="btn">OK</button></div>
		</form>

	<form th:action="@{/user/list}">
		<div class="btn-return">
			<button type="submit" class="btn">キャンセル</button>
		</div>
	</form>
  </body>
</html>