<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
<script th:inline="javascript">


</script>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
  <h3>住所録管理システム:住所録一覧</h3>
  <form th:action="@{/user/add}">
	<button type="submit" class="btn">新規登録</button>
	<br>
	<br>
	</form>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>名前</th>
                <th>住所</th>
                <th>電話番号</th>
                <th colspan="2">&emsp;&emsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userlist}" th:object="${user}">
                <td class="center" th:text="*{id}"></td>
                <td class="name" th:text="*{name}"></td>
                <td class="address" th:text="*{address}"></td>
                <td class="tel" th:text="*{phone}"></td>
                <td class="center" th:text="${#dates.format(user.updateDate, 'yyyy/MM/dd')}"></td>
                <td class="center" th:text="${#dates.format(user.createDate, 'yyyy/MM/dd')}"></td>
            </tr>
        </tbody>
    </table>
  </body>
</html>