<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
<script th:inline="javascript">


</script>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
<div><a th:href="@{/user/add}">新規登録はこちら</a></div>
    <h1>ユーザー情報一覧</h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>名前</th>
                <th>住所</th>
                <th>電話番号</th>
                <th colspan="2">&emsp;&emsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userlist}" th:object="${user}">
                <td class="center" th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{address}"></td>
                <td class="center" th:text="*{phone}"></td>
                <td class="center" th:text="${#dates.format(user.updateDate, 'yyyy/MM/dd')}"></td>
                <td class="center" th:text="${#dates.format(user.createDate, 'yyyy/MM/dd')}"></td>
            </tr>
        </tbody>
    </table>
  </body>
</html>