table{
    border-collapse: collapse;
    font-size: 12px;
}

table th, table td {
    border: 1px solid #000000;
    padding: 6px;
}


table th {
    background-color: #6495ED;
}

.center {
    text-align: center;
}

.address {
	width: 100px;
	overflow: hidden
}

.listaddress {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  width: calc(100vw - 30px);
  max-width: 100px;
}
.name {
	width: 300px;
}

.tel {
	width: 300px;
}

.btn {
	width: 70px;
}
