table{
    border-collapse: collapse;
    font-size: 12px;
}

table th, table td {
    border: 1px solid #000000;
    padding: 6px;
}

table th {
    background-color: #6495ED;
}

.center {
    text-align: center;
}

.address {
	width: 400px;
}

.name {
	width: 150px;
}

.tel {
	width: 180px;
}